@import "../../../../../Scss/base/tab";
@import "../../../../../Scss/base/mixin";
@import "../../../../../Scss/base/pagination";

.AllPropertys_container {
  background-color: var(--white);
  .AllPropertys_header {
    background-color: var(--white);
    height: 8rem;
    .AllPropertys_fields {
      padding-top: 2rem;
    }
    .AllPropertys_select {
      .ant-select-selection-item {
        color: var(--black);
        font-size: 0.9em;
        font-weight: 600;
        opacity: 0.6;
      }
      .ant-select-selection-placeholder {
        font-size: 1.35rem;
        line-height: 3;
        font-weight: 500;
        color: var(--black);
        opacity: 0.6;
      }
      .ant-select-selector {
        height: 3.6rem;
        border: 2px solid var(--primaryOrange);
        background-color: var(--primarywhite);
        border-radius: 5px;
        &::after,
        &:hover,
        &:focus,
        &:active {
          border: 2px solid var(--primaryOrange);
        }
      }
      .ant-select span {
        line-height: 3.6rem;
      }
    }
    .ant-input-affix-wrapper {
      background-color: var(--primarywhite);
      border: none;
      padding: 0px 11px;
      height: 3.8rem;
      .ant-input-prefix {
        width: 3.5rem;
        text-align: center;
        .anticon {
          margin-left: 0.5rem;
          font-size: 1.8rem;
          color: var(--primaryOrange);
        }
      }
    }
    .ant-input {
      background-color: var(--primarywhite);
      height: 3.8rem;
      &::after,
      &:hover,
      &:focus,
      &:active {
        border: none;
      }
    }
    .ant-input-affix-wrapper-focused,
    .ant-input-affix-wrapper:focus {
      box-shadow: none;
    }
    input::-webkit-input-placeholder {
      font-size: 1.35rem;
      line-height: 3;
      font-weight: 500;
      color: var(--black);
      opacity: 0.6;
    }
    p {
      text-align: center;
      height: 4rem;
      .ant-image {
        position: relative;
        top: 12.5%;
        width: 0.55rem;
        cursor: pointer;
      }
    }
  }
  .AllPropertys_table {
    background-color: var(--white);
    @include tablestyles;
    .ant-table-tbody > tr {
      & > td:nth-child(1) {
        text-transform: capitalize;
        font-weight: 600;
        color: var(--primaryOrange);
      }
      & > td:nth-child(2) {
        width: 23%;
      }
      & > td:last-child {
        // width: 1%;
        .ant-image {
          width: 1.8rem;
          margin-right: 2rem;
        }
        .info_logo {
          .ant-image {
            width: 2.3rem;
          }
        }
      }
    }
  }
}
