.introData_content {
  padding: 3.5% 3% 1%;
  height: 50rem;
  margin-bottom: 5%;
  @media screen and (max-width: 900px) {
    padding-top: 6%;
  }
  .ant-tabs-top > .ant-tabs-nav::before {
    border-bottom: none !important;
  }
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
    width: 100%;
    column-gap: 5%;
    justify-content: center;
  }
  .ant-tabs-tab {
    &:hover {
      color: var(--primaryOrange);
    }
  }
  .ant-tabs-tab-btn {
    position: relative;
    color: var(--primaryOrange);
    opacity: 0.3;
    font-size: 1.7rem;
    font-weight: 500;
    &:hover {
      opacity: 1;
    }
  }
  .ant-tabs-ink-bar {
    background-color: var(--primaryOrange);
    border-radius: 50px;
  }
  .ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar {
    height: 3.5px;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--primaryOrange);
    opacity: 1 !important;
  }

  .intro_data_imgs {
    height: 38rem;
    width: 100%;
    text-align: center;
    .intro_directions {
      height: 100%;
      box-sizing: border-box;
      height: 100%;
      .ant-input {
        height: 4.5rem;
        width: 50%;
        margin: auto;

        border-radius: 5px;
      }
      .ant-input:placeholder-shown {
        text-overflow: ellipsis;
        font-size: 1.35rem;
        font-style: italic;
        font-weight: 600;
        color: #a28b19;
      }
      .AutocompletePlace-container .google-places-autocomplete__input {
        font-size: 1.4rem;
        color: var(--black-secondary);
        height: 4.8rem;
        width: 50%;
        background-color: unset;
        margin-bottom: 2rem;
        margin-top: 1rem;
        font-size: 1.4rem;
        font-weight: 500;
        color: #75717b;
        border-radius: 5px;
        border: 1px solid #d9d9d9;
        box-shadow: 1px 0px 10px #efefef;
        box-shadow: 0 0 3px rgb(199, 192, 189);
      }
      input:placeholder-shown{
        font-style: italic;
      }
      .google-places-autocomplete__suggestions-container {
        position: absolute;
        top: 6rem;
        background-color: var(--white);
        width: 50%;
        border-radius: 15px;
        z-index: 1000;
        left: 25%;
      }
      .builtup_location {
        display: inline;
        .leaflet-container {
          width: 100% !important;
          box-shadow: 1px 0px 10px #efefef;
        }
        .leaflet-control-attribution a {
    text-decoration: none;
    display: none;
}
        // Style with css
.map-marker{
  text-align: center;
  position: absolute;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;                    // icon color
  width: 28px;
  height: 28px;
  border-radius: 50%;             // make a circle
  line-height: 22pt;
  font-size: 22px;
  font-family: 'FontAwesome';     // anything goes
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5)); 
}

// Style background
.map-marker.marker-color-gray   {background: rgba(5, 124, 255, 1);    
    
    animation: pulsate 2400ms ease-out infinite;
  }

// If you want to change the icon
.map-marker.another-class:before{
  content: '\f1f8';
}
        
 
        .pin {
          width: 20px;
          height: 20px;
          position: relative;
          top: 38px;
          left: 38px;
          background: rgba(5, 124, 255, 1);
          border: 2px solid #fff;
          border-radius: 50%;
          z-index: 1000;
        }
        .pin-effect {
          width: 100px;
          height: 100px;
          position: absolute;
          top: 0;
          display: block;
          background: rgba(5, 124, 255, 0.6);
          border-radius: 50%;
          opacity: 0;
          animation: pulsate 2400ms ease-out infinite;
        }
      }
    }
  }

  .intro_directions1,
  .intro_directions2 {
    text-align: center;
    margin: auto;
    width: 100%;
    height: 44rem;
    background-color: #f6f9fc;
    margin-top: 1%;
    .ant-image {
      height: 100%;
      width: 100%;
      .ant-image-img {
        height: 100%;
        box-shadow: 1px 1px 8px #ada5a5;
        border-radius: 5px;
      }
    }
    h5 {
      font-size: 1.5rem;
      font-weight: 600;
      color: #5a5a5a;
    }
    .slick-slider {
      width: 92%;
      margin-left: 4%;
    }
    .slick-prev,
    .slick-next {
      top: 50%;
      z-index: 1000;
    }
    .slick-prev {
      left: -4.5%;
    }
    .slick-next {
      right: -4.1%;
    }
    .slick-prev:before,
    .slick-next:before {
      font-size: 2.5rem;
      color: #909090;
      color: #a28b19;
    }
    .slick-dots li button:before {
      font-size: 1.5rem;
      color: #a28b19;
    }
    .intro_slider {
      .introSlider_data {
        height: 39rem;
        padding: 2.5% 2.8% 2%;
        img {
          width: 100%;
          height: 100%;
          box-shadow: 1px 1px 8px #ada5a5;
        }
      }
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.pulse {
    display: block;
    border-radius: 50%;
    cursor: pointer;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0;
    }
    70% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }